<!DOCTYPE html>
<html lang="en">

  <link rel="stylesheet" href="../static/stylecode.css">

<head>
  <meta charset="UTF-8">
  
  <title>MBA programs and data</title>

</head>

<body>


    <ul class="nav sticky-top nav-tabs" id="nav1" >
        <li class="nav-item"> <a class="nav-link active" href="{{ url_for('index') }}" >Home</a></li>
        <li class="nav-item"> <a class="nav-link"  href="{{ url_for('full') }}">All Courses, All Schools</a></li>
        <li class="nav-item"> <a class="nav-link"  href="{{ url_for('data') }}">Data Courses, All Schools</a></li>

        
        <!----<div class="btn-group dropright">
          <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            All Courses by School
          </button>
          <div class="dropdown-menu" id= "nav1"aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="./temp.html">Harvard Business School</a>
            <a class="dropdown-item" href="./humid.html">Wharton</a>
            <a class="dropdown-item" href="./cloud.html">Stanford</a>
            <a class="dropdown-item" href="./wind.html">Haas</a>
            <a class="dropdown-item" href="./wind.html">University of Michigan Ross</a>
            <a class="dropdown-item" href="./wind.html">MIT Sloan</a>
          </div>
        </div>-->
        <div class="btn-group dropright">
          <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            Data Courses by School
          </button>
          <div class="dropdown-menu" id= "nav1"aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="{{ url_for('hbs') }}">Harvard Business School</a>
            <a class="dropdown-item" href="{{ url_for('wharton') }}">Wharton</a>
            <a class="dropdown-item" href="{{ url_for('stanford') }}">Stanford</a>
            <a class="dropdown-item" href="{{ url_for('haas') }}">Haas</a>
            <a class="dropdown-item" href="{{ url_for('ross') }}">University of Michigan Ross</a>
            <a class="dropdown-item" href="{{ url_for('sloan') }}">MIT Sloan</a>
          </div>
        </div>
          
        </li>
      </ul>
      <div id="myTabContent" class="tab-content">
        <div class="tab-pane fade" id="home">
          
        </div>
      </div>

    </nav>

    <main >
        <div class="container">
            <header  class="w-100 p-3" >
                <h1>Data Retrieve</h1>
            </header>
            <div class="row"></div>
              <div class="col-md-6">
                <div class="image-fluid">
                  <img src="../static/owl.jpg" alt="This is an image of an owl." style="max-width: 20%">
                </div>
              </div> 
            <div>
              <h4 class="w-100 p-2">Hello user,</h4>
                <p class="w-100 p-2">Welcome to the user interface for data retrieve. The intention of this code is to survey curriculum from top MBA programs, specifically with a focus on data analytics. This is the first version, and webscraping resync requires executing code outside of this UI. This will be improved in future versions. All information displayed
                  on this UI is scraped from public curriculum websites, transformed into dataframes using Pandas, loaded into a MongoDB database, and then extracted to run here on HTML using PyMongo and Flask. 
                </p>
                <p class="w-100 p-2"> I qualified data courses as any courses with the following words in the title: Data, Analytics, Machine Learning, or Compu*. (This last string is to capture "computer" and "computing", etc.) These criteria could be broadened, narrowed, or changed without much trouble.</p>
                <p class="w-100 p-2">Thanks for your time.</p>
                <p class="w-100 p-2"> Clifford</p>
            </div>            
          </div>
    </main>
  </div>


<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src="../bootstrap.bundle.js"></script>
</body>

</html>


